.application .sidenav-header .navbar-brand img{
  height: 2.2rem;
}
.auth-logo img{
  width: 145px;
}
.customers-logo img.clogo{
  width: 80px;
}
.table-flag{
  width: 16px;
  margin-right: 4px;
  margin-top: -2px;
}
td.contacts a{
  margin-right: 8px;
}
td.contacts a, td.contacts a i{
  font-size: 20px;
}
td.contacts a i.color-phone{
  color:#45A523;
}
td.contacts a i.color-li{
  color:#0073b1;
}
td.contacts a i.color-fb{
  color:#3B5999;
}
td.contacts a i.color-tw{
  color:#1DA1F2;
}